---
layout: default
---
<div class="col-sm-12">
    <div class="page">
    	<div class="page-title">
    		{{ page.title }}
    		<div class="meta">
                {% if page.author %}
                By {{page.author}},
                {% endif %}
    			<time class="timeago" datetime="{{ page.date }}">{{ page.date |  date: "%A %-d %B %Y" }}</time>,
    			<a href="{{ page.url | prepend: site.url }}#disqus_thread">0 <i class="fa fa-comments-o fa-lg"></i></a>
    		</div>
    	</div>
        <div class="page-content">
          <!-- <a href="{{ "/" | prepend: site.url }}"> -->
            {{ content }}
          <!--  </a> -->
            <!-- Share & Comments -->
            {% include scripts/share.html %}
        </div>
    </div>
</div>
<script>
    $(".page-preview-icon").hover(function(){
        $(this).parents(".page-nav").css("z-index","5000");
    });
    {% include scripts/disqus.html %}
</script>
